body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.banner{
   padding:0;
   display: flex;
   align-items: center;
}
.banner-titel{

}
.banner .profile-pic{
    width: 500px;
    height: 620px;
}

.banner-des{
    font-size: 15px;
}
.banner-content{
    max-width: 500px;
    font-size: 20px;

}
.header{
    background-color: #db85ac;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.btn-shopnow{
    border-radius: 5px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    padding: 24px 35px;
}

/* 2nd page */


.of-flower{
    text-align: center;
    padding-top: 30px;
}
.flower-list{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.img-container {
    height: 500px;
   
}

.flower-iteme{
    padding: 10px 10px;
    border-radius: 300px 300px 0px 0px;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.service-list{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    
}

.service-img {
    position: relative;
}
.text-collor{
    color: #E55473;
}

.sing{background-color: #db85ac;
    background-repeat: no-repeat;
    background-position: bottom right;
    display: flex;
    align-items: center;
    padding: 0 100px;
}

.sing-headr{
    background-color: #db85ac;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.sing-pic{
    width: 500px;
    height: 620px;
}

.instagram-flower{
    text-align: center;
    padding-top: 30px; 
}

.instagram-list{
    display: flex;
    gap: 10px;
    padding: 15px 15px 15px;
    max-width: 100%;
}

.deals-flower{
    text-align: center;
    padding-top: 30px;
    background-image: url('../images/Rectangle\ 9.png');
}

.deals-list{
    display: flex;
    padding: 15px 15px 15px;
}

.fs-footer{
    text-align: center;
    background-color: black;
    color: white;
}


